{% extends 'spectator_core/base.html' %}

{% load spectator_core spectator_events %}

{% block events_nav_active %}active{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'spectator:events:home' %}">Events</a></li>
{% endblock %}

{% block sidebar %}

    {% current_url_name as url_name %}

    {% if url_name != 'spectator:events_home' %}
        {% recent_events_card 5 %}
    {% endif %}

    {% events_years_card current_year=year %}

{% endblock sidebar %}
