{% extends 'spectator_events/base.html' %}

{% block head_page_title %}{{ event }}{% endblock %}
{% block content_title %}{{ event }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item active">{{ event }}</li>
{% endblock %}

{% block content %}

    <p>
        {% if event.venue %}At <a href="{{ event.venue.get_absolute_url }}">{{ event.venue }}</a>
        on{% else %}On{% endif %} {{ event.date|date:"j M Y" }}.
    </p>

    {% if event.note %}
      {{ event.note|safe|linebreaks }}
    {% endif %}

    {% include 'spectator_core/includes/roles_list.html' with roles=event.roles.all heading='Featuring' only %}

    {% include 'spectator_events/includes/m2m_selection_list.html' with selection_list=event.movie_selections.all heading="Movies" only %}

    {% include 'spectator_events/includes/m2m_selection_list.html' with selection_list=event.play_selections.all heading="Plays" only %}

    {% include 'spectator_events/includes/m2m_selection_list.html' with selection_list=event.classical_work_selections.all heading="Works" only %}

    {% include 'spectator_events/includes/m2m_selection_list.html' with selection_list=event.dance_piece_selections.all heading="Pieces" only %}

{% endblock content %}


{% block sidebar %}
    {% load spectator_core %}
    {% change_object_link_card object perms %}

    {{ block.super }}
{% endblock %}
