{% extends 'spectator_events/base.html' %}

{% comment %}
Displays a paginated list of Movies, Plays, ClassicalWorks or DancePieces.
{% endcomment %}

{% block head_page_title %}{{ page_title }}{% endblock %}
{% block content_title %}{{ page_title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item active">{{ breadcrumb_list_title }}</li>
{% endblock %}

{% block content %}

    {% include 'spectator_events/includes/works_paginated.html' with work_list=object_list page_obj=page_obj only %}

{% endblock content %}


{% block sidebar_content %}

    {% with work_kind_plural|lower as work_kind_plural_lower %}
        {% with 'Most seen '|add:work_kind_plural_lower as card_title %}
            {% include 'spectator_core/includes/card_chart.html' with card_title=card_title object_list=works_by_views score_attr='num_views' name_attr='title' only %}
        {% endwith %}
    {% endwith %}

    {{ block.super }}
{% endblock sidebar_content %}
