
{% load spectator_core %}
{% current_url_name as url_name %}

<div class="card mb-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {% if url_name == 'spectator:publication_list' %}
                Publications
            {% else %}
                <a href="{% url 'spectator:publication_list' %}">Publications</a>
            {% endif %}
        </li>
        <li class="list-group-item">
            {% if url_name == 'spectator:publicationseries_list' %}
                Publication series
            {% else %}
                <a href="{% url 'spectator:publicationseries_list' %}">Publication series</a>
            {% endif %}
        </li>
</div>
