{% extends 'spectator/base.html' %}

{% block head_page_title %}{{ creator.name }}{% endblock %}
{% block content_title %}{{ creator.name }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'spectator:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'spectator:creator_list' %}">Creators</a></li>
    <li class="breadcrumb-item active">{{ creator.name }}</li>
{% endblock %}

{% block content %}

    {% if creator.publications.all.count > 0 %}
        <h2>Publications</h2>

        {% include 'spectator/includes/publications.html' with publication_list=creator.publications.all show_readings='all' only %}
    {% endif %}

{% endblock content %}
