{% extends 'spectator/base.html' %}

{% block events_nav_active %}active{% endblock %}

{% block head_page_title %}Events{% endblock %}
{% block content_title %}Events{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'spectator:home' %}">Home</a></li>
    {% if event_kind == 'event' %}
        <li class="breadcrumb-item active">Events</li>
    {% else %}
        <li class="breadcrumb-item"><a href="{% url 'spectator:events_home' %}">Events</a></li>
        {% if event_kind == 'concert' %}
            <li class="breadcrumb-item"><a href="{% url 'spectator:concert_list' %}">Concerts</a></li>
            <li class="breadcrumb-item active">Visits</li>
        {% elif event_kind == 'movie' %}
            <li class="breadcrumb-item"><a href="{% url 'spectator:movie_list' %}">Movies</a></li>
            <li class="breadcrumb-item active">Visits</li>
        {% elif event_kind == 'play' %}
            <li class="breadcrumb-item"><a href="{% url 'spectator:play_list' %}">Plays</a></li>
            <li class="breadcrumb-item active">Visits</li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}

    {% if event_list|length > 0 %}

        <ul class="nav nav-tabs mb-4">
            {% if event_count > 0 %}
                <li class="nav-item">
                    <a class="nav-link{% if event_kind == 'event' %} active{% endif %}" href="{% url 'spectator:events_home' %}">
                        All ({{ event_count }})
                    </a>
                </li>
            {% endif %}
            {% if concert_count > 0 %}
                <li class="nav-item">
                    <a class="nav-link{% if event_kind == 'concert' %} active{% endif %}" href="{% url 'spectator:concert_visits' %}">
                        Concerts ({{ concert_count }})
                    </a>
                </li>
            {% endif %}
            {% if movieevent_count > 0 %}
                <li class="nav-item">
                    <a class="nav-link{% if event_kind == 'movie' %} active{% endif %}" href="{% url 'spectator:movie_visits' %}">
                        Movies ({{ movieevent_count }})
                    </a>
                </li>
            {% endif %}
            {% if playproductionevent_count > 0 %}
                <li class="nav-item">
                    <a class="nav-link{% if event_kind == 'play' %} active{% endif %}" href="{% url 'spectator:play_visits' %}">
                        Plays ({{ playproductionevent_count }})
                    </a>
                </li>
            {% endif %}
            {% if miscevent_count > 0 %}
                <li class="nav-item">
                    <a class="nav-link{% if event_kind == 'misc' %} active{% endif %}" href="{% url 'spectator:miscevent_visits' %}">
                        Other ({{ miscevent_count }})
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}

    {% include 'spectator/includes/events_paginated.html' with event_list=event_list page_obj=page_obj only %}

{% endblock content %}
