{% extends 'spectator/base.html' %}

{% block head_page_title %}Events{% endblock %}
{% block content_title %}Events{% endblock %}
{% block events_nav_active %}active{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'spectator:home' %}">Home</a></li>
    {% if event_kind == 'event' %}
        <li class="breadcrumb-item active">Events</li>
    {% else %}
        <li class="breadcrumb-item"><a href="{% url 'spectator:events_home' %}">Events</a></li>
        {% if event_kind == 'concert' %}
            <li class="breadcrumb-item active">Concerts</li>
        {% elif event_kind == 'movie' %}
            <li class="breadcrumb-item"><a href="{% url 'spectator:movie_list' %}">Movies</a></li>
            <li class="breadcrumb-item active">Visits</li>
        {% elif event_kind == 'play' %}
            <li class="breadcrumb-item"><a href="{% url 'spectator:play_list' %}">Plays</a></li>
            <li class="breadcrumb-item active">Visits</li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}

    {% if event_list|length > 0 %}

        <ul class="nav nav-tabs mb-4">
            {% if event_count > 0 %}
                <li class="nav-item">
                    <a class="nav-link{% if event_kind == 'event' %} active{% endif %}" href="{% url 'spectator:events_home' %}">
                        All ({{ event_count }})
                    </a>
                </li>
            {% endif %}
            {% if concert_count > 0 %}
                <li class="nav-item">
                    <a class="nav-link{% if event_kind == 'concert' %} active{% endif %}" href="{% url 'spectator:concert_list' %}">
                        Concerts ({{ concert_count }})
                    </a>
                </li>
            {% endif %}
            {% if movieevent_count > 0 %}
                <li class="nav-item">
                    <a class="nav-link{% if event_kind == 'movie' %} active{% endif %}" href="{% url 'spectator:movieevent_list' %}">
                        Movies ({{ movieevent_count }})
                    </a>
                </li>
            {% endif %}
            {% if playproductionevent_count > 0 %}
                <li class="nav-item">
                    <a class="nav-link{% if event_kind == 'play' %} active{% endif %}" href="{% url 'spectator:playproductionevent_list' %}">
                        Plays ({{ playproductionevent_count }})
                    </a>
                </li>
            {% endif %}
        </ul>

        <ul>
            {% for event in event_list %}
            <li>
                {% if event.event_kind == 'concert' %}
                    {% include 'spectator/includes/concert.html' with concert=event only %}
                {% elif event.event_kind == 'movie' %}
                    {% include 'spectator/includes/movieevent.html' with movieevent=event only %}
                {% elif event.event_kind == 'play' %}
                    {% include 'spectator/includes/playproductionevent.html' with playproductionevent=event only %}
                {% else %}
                    Unknown event kind for {{ event }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no events to show.</p>
    {% endif %}


{% endblock content %}
