{% extends 'spectator/base.html' %}

{% block head_page_title %}Spectator{% endblock %}
{% block content_title %}Spectator{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}

    {% if in_progress_publications|length > 0 %}
        <h2>Currently reading</h2>

        {% include 'spectator/includes/publications.html' with publication_list=in_progress_publications show_readings='current' only %}
    {% endif %}

{% endblock content %}
