{% extends 'spectator/base.html' %}

{% block events_nav_active %}active{% endblock %}

{% block head_page_title %}{{ miscevent }}{% endblock %}
{% block content_title %}{{ miscevent }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'spectator:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'spectator:events_home' %}">Events</a></li>
    <li class="breadcrumb-item"><a href="{% url 'spectator:miscevent_list' %}">Misc</a></li>
    <li class="breadcrumb-item active">
        {% if miscevent.title %}
            {{ miscevent.title }}
        {% else %}
            {{ miscevent.roles.first.creator.name }}
        {% endif %}
    </li>
{% endblock %}

{% block content %}

    <p class="lead">
        {{ miscevent.venue.name }}<br>
        {{ miscevent.date|date:"j M Y" }}
    </p>

    {% include 'spectator/includes/roles_list.html' with roles=miscevent.roles.all only %}

{% endblock content %}


{% block sidebar %}
    {% if perms.spectator.can_edit_miscevent %}
        <div class="card mb-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{% url 'admin:spectator_miscevent_change' miscevent.id %}">Edit in Admin</a>
                </li>
            </ul>
        </div>
    {% endif %}

    {{ block.super }}
{% endblock %}
