{% extends 'spectator/base.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'spectator:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'spectator:reading_home' %}">Reading</a></li>
    <li class="breadcrumb-item"><a href="{% url 'spectator:publicationseries_list' %}">Series</a></li>
    <li class="breadcrumb-item active">{{ publicationseries.title }}</li>
{% endblock %}

{% block content %}
    <h1 class="my-4">
        {% block title %}
            {{ publicationseries.title }}
        {% endblock %}
    </h1>

    {% include 'spectator/includes/publications_paginated.html' with publication_list=publication_list show_readings='all' page_obj=page_obj only %}

{% endblock content %}
