{% extends 'spectator/base.html' %}

{% block reading_nav_active %}active{% endblock %}

{% block head_page_title %}Series{% endblock %}
{% block content_title %}Series{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'spectator:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'spectator:reading_home' %}">Reading</a></li>
    <li class="breadcrumb-item active">Series</li>
{% endblock %}

{% block content %}

    {% if publicationseries_list|length > 0 %}
        <ul>
            {% for series in publicationseries_list %}
            <li><a href="{{ series.get_absolute_url }}">{{ series.title }}</a> ({{ series.publication_set.count }})</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock content %}
