{% extends 'spectator/base.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'spectator:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'spectator:reading_home' %}">Reading</a></li>
    <li class="breadcrumb-item"><a href="{% url 'spectator:publication_list' %}">Publications</a></li>
    <li class="breadcrumb-item active">{{ publication }}</li>
{% endblock %}

{% block title %}
    {% if publication.series %}
        {{ publication.series.title }}, {{ publication.title }}
    {% else %}
        {{ publication.title }}
    {% endif %}
{% endblock %}

{% block content %}
    <h1 class="my-4">
        {% if publication.series %}
            <a href="{{ publication.series.get_absolute_url }}">{{ publication.series.title }}</a><br>
        {% endif %}
        {{ publication.title }}
    </h1>

    {% with publication.roles.all as roles %}
        <p class="lead">
            {% include 'spectator/includes/roles.html' with roles=publication.roles.all intro='By' %}
        </p>
    {% endwith %}

    {% if publication.has_urls %}
        {% load spectator_filters %}
        <ul>
            {% if publication.notes_url %}
                <li>View notes at {{ publication.notes_url|domain_urlize }}.</li>
            {% endif %}

            {% if publication.official_url %}
                <li>View official site at {{ publication.official_url|domain_urlize }}.</li>
            {% endif %}

            {% with publication.amazon_urls as urls %}
                {% if urls|length > 0 %}
                    <li>
                        View at
                        {% for url in urls %}{% if forloop.first %}{% else %}{% if forloop.last %} or {% else %}, {% endif %}{% endif %}<a href="{{ url.url }}">{{ url.name }}</a>{% endfor %}.
                    </li>
                {% endif %}
            {% endwith %}
        </ul>
    {% endif %}

    {% with publication.reading_set.all as readings %}
        {% if readings|length > 0 %}
            <h2>Readings</h2>
            <ul>
                {% for reading in readings %}
                    <li>
                        {% include 'spectator/includes/reading.html' with reading=reading only %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Unread.</p>
        {% endif %}
    {% endwith %}

{% endblock content %}
