{% extends 'spectator/base.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'spectator:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'spectator:reading_home' %}">Reading</a></li>
    <li class="breadcrumb-item active">Publications</li>
{% endblock %}

{% block content %}
    <h1 class="my-4">
        {% block title %}
            Publications
        {% endblock %}
    </h1>

    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link{% if publication_kind == 'book' %} active{% endif %}" href="{% url 'spectator:publication_list' %}">Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if publication_kind == 'periodical' %} active{% endif %}" href="{% url 'spectator:publication_list_periodical' %}">Periodicals</a>
        </li>
    </ul>

    {% include 'spectator/includes/publications_paginated.html' with publication_list=publication_list show_readings='none' page_obj=page_obj only %}

{% endblock content %}
