{% extends 'spectator/base.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'spectator:home' %}">Home</a></li>
    <li class="breadcrumb-item active">Reading</li>
{% endblock %}

{% block content %}
    <h1 class="my-4">
        {% block title %}
            Reading
        {% endblock %}
    </h1>

    {% if in_progress_publications|length > 0 %}
        <h2>In-progress</h2>

        {% include 'spectator/includes/publications.html' with publication_list=in_progress_publications show_readings='one' only %}
    {% endif %}

    {% if publication_list|length > 0 %}
        <h2>Unread</h2>

        {% include 'spectator/includes/publications.html' with publication_list=publication_list only %}
    {% endif %}

{% endblock content %}
