{% extends 'spectator/base.html' %}

{% block head_page_title %}Reading{% endblock %}
{% block content_title %}Reading{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'spectator:home' %}">Home</a></li>
    <li class="breadcrumb-item active">Reading</li>
{% endblock %}

{% block content %}

    {% if in_progress_publications|length > 0 %}
        <h2>Current</h2>

        {% include 'spectator/includes/publications.html' with publication_list=in_progress_publications show_readings='current' only %}
    {% endif %}

    {% if publication_list|length > 0 %}
        <h2>Unread</h2>

        {% include 'spectator/includes/publications.html' with publication_list=publication_list only %}
    {% endif %}

{% endblock content %}
