{% extends 'spectator/events/base.html' %}

{% block events_nav_active %}active{% endblock %}

{% block head_page_title %}Concert{% endblock %}
{% block content_title %}Concerts{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item active">Concerts</li>
{% endblock %}

{% block content %}

    {% if concert_list|length > 0 %}
        {% if page_obj|default:False and page_obj.number > 1 %}
            {% include 'spectator/core/includes/pagination.html' with page_obj=page_obj only %}
        {% endif %}

        <ul>
            {% for concert in concert_list %}
                <li class="mb-2">
                    {% include 'spectator/events/includes/concert.html' with concert=concert only %}
                </li>
            {% endfor %}
        </ul>

        {% include 'spectator/core/includes/pagination.html' with page_obj=page_obj only %}

    {% else %}
        <p>There are no concerts to show.</p>
    {% endif %}

{% endblock content %}
