{% extends 'spectator/events/base.html' %}

{% block events_nav_active %}active{% endblock %}

{% block head_page_title %}{{ concert }}{% endblock %}
{% block content_title %}{{ concert }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'spectator:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'spectator:events_home' %}">Events</a></li>
    <li class="breadcrumb-item"><a href="{% url 'spectator:concert_list' %}">Concerts</a></li>
    <li class="breadcrumb-item active">
        {% if concert.title %}
            {{ concert.title }}
        {% else %}
            {{ concert.roles.first.creator.name }}
        {% endif %}
    </li>
{% endblock %}

{% block content %}

    <p class="lead">
        {{ concert.venue.name }}<br>
        {{ concert.date|date:"j M Y" }}
    </p>

    {% include 'spectator/includes/roles_list.html' with roles=concert.roles.all only %}

{% endblock content %}


{% block sidebar %}
    {% if perms.spectator.can_edit_concert %}
        <div class="card mb-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{% url 'admin:spectator_concert_change' concert.id %}">Edit in Admin</a>
                </li>
            </ul>
        </div>
    {% endif %}

    {{ block.super }}
{% endblock %}
