{% extends 'spectator/events/base.html' %}

{% block head_page_title %}Misc Events{% endblock %}
{% block content_title %}Misc Events{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'spectator:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'spectator:events_home' %}">Events</a></li>
    <li class="breadcrumb-item active">Misc</li>
{% endblock %}

{% block content %}

    {% if miscevent_list|length > 0 %}
        {% if page_obj|default:False and page_obj.number > 1 %}
            {% include 'spectator/includes/pagination.html' with page_obj=page_obj only %}
        {% endif %}

        <ul>
            {% for miscevent in miscevent_list %}
                <li>
                    {% include 'spectator/includes/miscevent.html' with miscevent=miscevent only %}
                </li>
            {% endfor %}
        </ul>

        {% include 'spectator/includes/pagination.html' with page_obj=page_obj only %}

    {% else %}
        <p>There are no events to show.</p>
    {% endif %}

{% endblock content %}
