{% extends 'spectator/events/base.html' %}

{% block head_page_title %}{{ play.title }}{% endblock %}
{% block content_title %}{{ play.title }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'spectator:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'spectator:events_home' %}">Events</a></li>
    <li class="breadcrumb-item"><a href="{% url 'spectator:play_list' %}">Plays</a></li>
    <li class="breadcrumb-item active">{{ play.title }}</li>
{% endblock %}

{% block content %}

    {% with play.roles.all as roles %}
        {% if roles|length > 0 %}
            <p class="lead">
                {% include 'spectator/core/includes/roles.html' with roles=roles intro='By' %}
            </p>
        {% endif %}
    {% endwith %}

    {% with play.playproduction_set.all as productions %}
        {% if productions|length > 0 %}
            <h2>Productions</h2>

            {% for production in productions %}
                <h3>{{ production }}</h3>
                {% with production.roles.all as production_roles %}
                    {% if production_roles|length > 0 %}
                        {% include 'spectator/core/includes/roles_list.html' with roles=production_roles only %}
                    {% endif %}
                {% endwith %}

                {% include 'spectator/events/includes/visits_list.html' with events=production.playproductionevent_set.all heading_level='h4' only %}
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock content %}


{% block sidebar %}
    {% if perms.spectator.can_edit_play %}
        <div class="card mb-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{% url 'admin:spectator_play_change' play.id %}">Edit in Admin</a>
                </li>
            </ul>
        </div>
    {% endif %}

    {{ block.super }}
{% endblock %}
