[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = "==2.0"
Django = "==2.2.6"
django-spectator = {editable = true, path = "./.."}

[dev-packages]

[requires]
python_version = "3.7"
