[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = "==2.1"
Django = "==3.0.2"
django-spectator = {editable = true, path = "./.."}

[dev-packages]

[requires]
python_version = "3.8"
