{% comment %}
Display a single Publication, probably used in a list.

Expects:

* publication: The Publication to display.
* show_readings: 'none' (default), 'all' or 'one'.

{% endcomment %}

{% if publication.series %}
    <cite>{{ publication.series.title }}</cite>,
    <a href="{{ publication.get_absolute_url }}">{{ publication.title }}</a>
{% else %}
    <a href="{{ publication.get_absolute_url }}"><cite>{{ publication.title }}</cite></a>
{% endif %}

{% include 'spectator/includes/roles.html' with roles=publication.roles.all intro='by' %}

{% if show_readings == 'all' or show_readings == 'one' %}
    {% with publication.reading_set.all as readings %}
        {% if readings|length > 0 %}
            {% if show_readings == 'all' %}
                {% for reading in readings %}
                    <br>
                    {% include 'spectator/includes/reading.html' with reading=reading only %}
                {% endfor %}
            {% else %}
                <br>
                {% include 'spectator/includes/reading.html' with reading=readings|first only %}
            {% endif %}
        {% endif %}
    {% endwith %}
{% endif %}

