{% comment %}
Display a single Publication, probably used in a list.

Expects:

* publication: The Publication to display.
* show_readings: 'none' (default), 'all' or 'one'.

{% endcomment %}

{% if publication.series %}
    <strong>
        <cite>{{ publication.series.title }}</cite>,
        <a href="{{ publication.get_absolute_url }}">{{ publication.title }}</a>
    </strong>
{% else %}
    <strong>
        <a href="{{ publication.get_absolute_url }}"><cite>{{ publication.title }}</cite></a>
    </strong>
{% endif %}

{% include 'spectator/includes/roles.html' with roles=publication.roles.all intro='<br>by' %}

{% if show_readings == 'all' or show_readings == 'one' %}
    <ul class="text-muted">
        {% with publication.reading_set.all as readings %}
            {% if readings|length > 0 %}
                {% if show_readings == 'all' %}
                    {% for reading in readings %}
                        <li>
                            {% include 'spectator/includes/reading.html' with reading=reading only %}
                        </li>
                    {% endfor %}
                {% else %}
                    <li>
                        {% include 'spectator/includes/reading.html' with reading=readings|first only %}
                    </li>
                {% endif %}
            {% endif %}
        {% endwith %}
    </ul>
{% endif %}

