{% load spectator_tags %}

{% if not in_progress_publication_list %}
    {% in_progress_publications as in_progress_publication_list %}
    {% if in_progress_publication_list|length > 0 %}
        <div class="card">
            <div class="card-block">
                <h2 class="h6 card-title">Current reading</h2>
                {% include 'spectator/includes/publications.html' with publication_list=in_progress_publication_list show_readings='none' style='unstyled' only %}
            </div>
        </div>
    {% endif %}
{% endif %}
