{% comment %}
Display a single Event, probably in a list.

Expects:

* event - A child of the Event model.
{% endcomment %}

{% load l10n %}

<a href="{{ event.get_absolute_url }}">
{% if event.kind == 'movie'  %}
    <strong>{{ event.movie.title }}</strong>
    {% if event.movie.year %}
        <small class="text-muted">({{ event.movie.year|unlocalize }})</small>
    {% endif %}
{% else %}
    <strong>{{ event }}</strong>
{% endif %}

<br>

{{ event.venue.name }}, {{ event.date|date:"j M Y" }}</a>
