{% comment %}
The sidebar!

Takes context.

Expects:

* show_links - Show the links to list pages. Optional, default: False.
{% endcomment %}


{% load spectator_tags %}
{% current_url_name as url_name %}

{% block sidebar_start %}
{% endblock %}

{% if url_name != 'spectator:home' and url_name != 'spectator:reading_home' %}
    {% in_progress_publications as in_progress_publication_list %}
    {% if in_progress_publication_list|length > 0 %}
        <div class="card mb-3">
            <div class="card-block">
                <h2 class="h6 card-title">Currently reading</h2>
                {% include 'spectator/reading/includes/publications.html' with publication_list=in_progress_publication_list show_readings='none' style='unstyled' only %}
            </div>
        </div>
    {% endif %}
{% endif %}

{% if url_name != 'spectator:home' and url_name != 'spectator:events_home' %}
    {% recent_events 5 as recent_event_list %}
    {% if recent_event_list|length > 0 %}
        <div class="card mb-3">
            <div class="card-block">
                <h2 class="h6 card-title">Recent events</h2>
                {% include 'spectator/events/includes/events.html' with event_list=recent_event_list style='unstyled' only %}
            </div>
        </div>
    {% endif %}
{% endif %}

{% block sidebar_nav %}
    <div class="card mb-3">
        <ul class="list-group list-group-flush">
            {% block sidebar_nav_items %}
                <li class="list-group-item">
                    {% if url_name == 'spectator:creator_list' %}
                        Creators
                    {% else %}
                        <a href="{% url 'spectator:creator_list' %}">Creators</a>
                    {% endif %}
                </li>
                <li class="list-group-item">
                    {% if url_name == 'spectator:publication_list' %}
                        Publications
                    {% else %}
                        <a href="{% url 'spectator:publication_list' %}">Publications</a>
                    {% endif %}
                </li>
                <li class="list-group-item">
                    {% if url_name == 'spectator:publicationseries_list' %}
                        Publication series
                    {% else %}
                        <a href="{% url 'spectator:publicationseries_list' %}">Publication series</a>
                    {% endif %}
                </li>
                <li class="list-group-item">
                    {% if url_name == 'spectator:venue_list' %}
                        Venues
                    {% else %}
                        <a href="{% url 'spectator:venue_list' %}">Venues</a>
                    {% endif %}
                </li>
            {% endblock sidebar_nav_items %}
        </ul>
    </div>
{% endblock sidebar_nav %}

{% block sidebar_end %}
{% endblock %}
