{% comment %}
Dislaying a single visit to a Concert, probably in a list.

Expects:

* concert - A Concert object.
{% endcomment %}

<strong>
        <a href="{{ concert.get_absolute_url }}">{{ concert }}</a>
</strong>

<br>
{% load spectator_core %}
{% current_url_name as url_name %}

{% if url_name == 'spectator:venue_detail' %}
    {{ concert.venue.name }},
{% else %}
    <a href="{% url 'spectator:venue_detail' pk=concert.venue.pk %}">{{ concert.venue.name }}</a>,
{% endif %}

{{ concert.date|date:"j M Y" }}

