
{% load spectator_core %}
{% current_url_name as url_name %}

<div class="card mb-3">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      {% if url_name == 'spectator:reading:publication_list' %}
        Publications
      {% else %}
        <a href="{% url 'spectator:reading:publication_list' %}">Publications</a>
      {% endif %}
    </li>
    <li class="list-group-item">
      {% if url_name == 'spectator:reading:publicationseries_list' %}
        Series
      {% else %}
        <a href="{% url 'spectator:reading:publicationseries_list' %}">Series</a>
      {% endif %}
    </li>
  </ul>
</div>
