{% extends 'spectator/events/base.html' %}

{% block head_page_title %}Events{% endblock %}
{% block content_title %}Events{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'spectator:home' %}">Home</a></li>
    {% if event_kind == 'event' %}
        <li class="breadcrumb-item active">Events</li>
    {% else %}
        <li class="breadcrumb-item"><a href="{% url 'spectator:events_home' %}">Events</a></li>
        {% if event_kind == 'gig' %}
            <li class="breadcrumb-item active">Gigs</li>
        {% elif event_kind == 'movie' %}
            <li class="breadcrumb-item active">Movies</li>
        {% elif event_kind == 'play' %}
            <li class="breadcrumb-item active">Plays</li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}

    {% if event_list|length > 0 %}

        <ul class="nav nav-tabs mb-4">
            {% if event_count > 0 %}
                <li class="nav-item">
                    <a class="nav-link{% if not event_kind %} active{% endif %}" href="{% url 'spectator:events_home' %}">
                        All ({{ event_count }})
                    </a>
                </li>
            {% endif %}
            {% if gig_count > 0 %}
                <li class="nav-item">
                    <a class="nav-link{% if event_kind == 'gig' %} active{% endif %}" href="{% url 'spectator:event_list' kind_slug='gigs' %}">
                        Gigs ({{ gig_count }})
                    </a>
                </li>
            {% endif %}
            {% if movie_count > 0 %}
                <li class="nav-item">
                    <a class="nav-link{% if event_kind == 'movie' %} active{% endif %}" href="{% url 'spectator:event_list' kind_slug='movies' %}">
                        Movies ({{ movie_count }})
                    </a>
                </li>
            {% endif %}
            {% if play_count > 0 %}
                <li class="nav-item">
                    <a class="nav-link{% if event_kind == 'play' %} active{% endif %}" href="{% url 'spectator:event_list' kind_slug='plays' %}">
                        Plays ({{ play_count }})
                    </a>
                </li>
            {% endif %}
            {% if misc_count > 0 %}
                <li class="nav-item">
                    <a class="nav-link{% if event_kind == 'misc' %} active{% endif %}" href="{% url 'spectator:event_list' kind_slug='misc' %}">
                        Other ({{ misc_count }})
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}

    {% include 'spectator/events/includes/events_paginated.html' with event_list=event_list page_obj=page_obj only %}

{% endblock content %}


{% block sidebar %}

    {% include 'spectator/core/includes/card_nav.html' %}
    {% include 'spectator/events/includes/card_nav.html' %}

    {{ block.super }}
{% endblock sidebar %}
