{% comment %}
Display a single comment, probably in a list.

Expects:

* event - A child of the Event model.
{% endcomment %}

{% if event.event_kind == 'concert' %}
    {% include 'spectator/events/includes/concert.html' with concert=event only %}
{% elif event.event_kind == 'movie' %}
    {% include 'spectator/events/includes/movieevent.html' with movieevent=event only %}
{% elif event.event_kind == 'play' %}
    {% include 'spectator/events/includes/playproductionevent.html' with playproductionevent=event only %}
{% elif event.event_kind == 'misc' %}
    {% include 'spectator/events/includes/miscevent.html' with miscevent=event only %}
{% else %}
    Unknown event kind for {{ event }}
{% endif %}

