{% comment %}
Dislaying a single visit to a Movie, probably in a list.

Expects:

* movieevent - A MovieEvent object.
{% endcomment %}

<a href="{{ movieevent.movie.get_absolute_url }}">
    <strong>
        {{ movieevent.movie.title }}
    </strong>
</a>
{% if movieevent.movie.year %}
    ({{ movieevent.movie.year }})
{% endif %}

<br>
{% load spectator_tags %}
{% current_url_name as url_name %}

{% if url_name == 'spectator:venue_detail' %}
    {{ movieevent.venue.name }},
{% else %}
    <a href="{% url 'spectator:venue_detail' pk=movieevent.venue.pk %}">{{ movieevent.venue.name }}</a>,
{% endif %}

{{ movieevent.date|date:"j M Y" }}

