{% comment %}
Dislaying a single visit to a PlayProduction, probably in a list.

Expects:

* playproductionevent - A PlayProductionEvent object.
{% endcomment %}

<a href="{{ playproductionevent.production.play.get_absolute_url }}">
    <strong>
        {{ playproductionevent.production.play.title }}
    </strong>
    {% if playproductionevent.production.title %}
        ({{ playproductionevent.production.title }})
    {% endif %}
</a>

<br>
{% load spectator_tags %}
{% current_url_name as url_name %}

{% if url_name == 'spectator:venue_detail' %}
    {{ playproductionevent.venue.name }},
{% else %}
    <a href="{% url 'spectator:venue_detail' pk=playproductionevent.venue.pk %}">{{ playproductionevent.venue.name }}</a>,
{% endif %}

{{ playproductionevent.date|date:"j M Y" }}

